<template>
  <div class="container">
    <h1 :class="{ 'blinking': blinking, 'congrats': showCongrats, 'useless': showUseless }">{{ message }}</h1>
    <input type="text" v-model="inputText" @input="checkInput">
    <button @click="sendMessage" class="gradient-button">Enviar</button>
    <button @click="redirectToVideo" class="gradient-button">Assistir Vídeo</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputText: '',
      blinking: true,
      showCongrats: false,
      showUseless: false,
      message: "Não digite nenhum número",
      videoUrl: "http://172.22.51.45:9000/video" 
    };
  },
  methods: {
    checkInput() {
    
      if (/^[a-zA-Z]+$/.test(this.inputText)) {
        this.showCongrats = true;
        this.showUseless = false;
        this.blinking = false;
      } else if (this.inputText === '') {
        this.showCongrats = false;
        this.showUseless = false;
        this.blinking = true;
      } else {
        this.showCongrats = false;
        this.showUseless = true;
        this.blinking = false;
      }
    },
    sendMessage() {
    
      if (this.showCongrats) {
        this.message = "Parabéns, você salvou o mundo!";
      } else if (this.showUseless) {
        this.message = "IMPRESTÁVEL! NEM PRA ISSO VOCÊ SERVE";
      }
    },
    redirectToVideo() {
      window.location.href = this.videoUrl;
    }
  }
};
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333; /* Cor de fundo escura */
  color: white; /* Cor do texto */
  font-family: 'Arial', sans-serif; /* Fonte atraente */
}

input[type="text"] {
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button.gradient-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #ff4e50, #f9d423); /* Gradiente de cores */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  font-size: 24px;
}

.blinking {
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from { color: red; }
  to { color: white; }
}

.congrats {
  color: green;
}

.useless {
  color: red;
}
</style>

