<template>
  <div id="app">
    <HelloWord />
  </div>
</template>

<script>
import HelloWord from './components/HelloWorld.vue';


export default {
  name: 'App',
  components: {
    HelloWord,
  },
};
</script>

<style>
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333; /* Cor de fundo escura */
}
</style>
